//mis personalizaciones

ion-slide[name="slide-perzonalizado"] > p {
  font-style: bold;
  font-size: 15px;
  border: solid;
  border-color: red;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 30px;
  padding: 10px 20px 10px 20px;
  margin: 5px 5px 5px 5px;
}

ion-content {
  
    --background: rgb(166, 255, 0);
  }
  
  ion-slides {
    background-color: rgb(115, 255, 0);
    height: 100%;
    max-width: 800px;
    --bullet-background-active: rgb(0, 255, 42);
  }
  .swiper-slide {
    display: block;
    background-color: rgb(5, 71, 71);
    padding: 20px 0px 20px 0px;
  }
  
  ion-slide > h1 {
    color: var(--ion-color-primary);
  }
  
  ion-slide > p {
    font-style: italic;
    font-size: 22px;
    border: solid;
    border-color: rgb(44, 142, 235);
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 20px 20px;
  }
  
  ion-slide > ion-icon[name="close"] {
    float: right;
    color: var(--the-best-color);
    font-size: 40px;
  }
  