.cover {
    max-height: 200px;
    margin: 0 auto;
    display: block;
}

//personalizaciones

ion-item {
    
    --color: #062f77;
    
  }
  ion-toolbar{
    --background: rgb(115, 255, 0);
    
  }